<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Bug Tracker</title>
	</head>
	<body class="login-page">
		<div class="appication-main">
			<form>
				<div class="auth-form-header">
					<h1>Sign in to HD-Only BugTracker</h1>
				</div>
				<div class="auth-form-body">
					<label for="login_field">
						Username
					</label>
						<input type="text" name="login" id="login_field" autocomplete="on">
						<label for="password">
							Password
						<input type="password" name="password" id="password" class="form-control" autocomplete="current-password">
						<a class="label-link" href="/password_reset">Forgot password?
						</a>
					</label>
					<input type="submit" name="commit" value="Sign in">
				</div>
			</form>
			<p class="login-callout">
			New User?
				<a href="/join?source=login">Create an account</a>
			</p>
		</div>
	</body>
</html>