{% extends 'base.html' %}
{% load static %}
{% block page_content %}

<html>
    <head>   
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
        
    </head>
    <body>
        <div id="header"></div>
        <section class="auth_password">
            <div id="container">
                <!--Contents-->
                <h2>Please enter the authentication code</h2>
                <p class="content_summary">
                    
                </p>
                <form action="" method="post">
                    <div class="box">
                        <div class="auth_table">
                            <table>
                                <label for="code1">Code</label>
                                <tr>
                                    <th><input type="text" name="code" id="code1"
                                        onfocus="this.value=''" value="*" autocomplete="off" maxlength="1" required>
                                    </th>
                                    <th><input type="text" name="code" id="code2" value="*"
                                        onfocus="this.value=''" autocomplete="off" maxlength="1" required>
                                    </th>
                                    <th><input type="text" name="code" id="code3" value="*"
                                        onfocus="this.value=''" autocomplete="off" maxlength="1" required>
                                    </th>
                                    <th><input type="text" name="code" id="code4" value="*"
                                        onfocus="this.value=''" autocomplete="off" maxlength="1" required>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="btn-area">
                        <button type="submit" >SUBMIT</button>
                    </div>
                </form>
            </div>
       </section>
    </body>
</html>
{% endblock %}